@model OpenEhs.Web.Models.UserDetailsViewModel
@{
    ViewBag.Title = "OpenEHS - User Details";
}
@section head
{
    <style type="text/css">
        label
        {
        	font-size: 1.4em;
        	display: block;
        }
        
        #UserActions
        {
        	width: 550px;
        	margin: 0 auto;
        }
        
        #UserActions div
        {
        	float: right;
        }
        
        #RoleActions
        {
            float: right;
        }
        
        #RoleList
        {
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            box-shadow: 0px 0px 10px #ccc;
            -moz-box-shadow: 0px 0px 10px #ccc;
            -webkit-box-shadow: 0px 0px 10px #ccc;
            margin: 20px 0;
            padding: 10px 20px;
        }
        
        #RoleList h4
        {
            border-radius: 5px 5px 0 0;
            -moz-border-radius: 5px 5px 0 0;
            -webkit-border-radius: 5px 5px 0 0;
        }
    
        #tabs input
        {
        	font-size: 1.4em;
        }
        
        #tabs button
        {
            font-size: 1.4em;
        }
        
        #tabs
        {
        	width: 550px;
        	margin: 0 auto;
        }
        
        #tabs ul
        {
        	font-size: 1.2em;
        }
    </style>

    <script type="text/javascript" src="@Url.Content("~/Scripts/membership/user.details.js")"></script>
}
<h2>User Details</h2>
@using (Html.BeginForm())
{
<div id="tabs" class="group">
    <ul>
        <li><a href="#AccountTab">Account</a></li>
        <li><a href="#ContactInfoTab">Contact Info.</a></li>
    </ul>
    <div id="AccountTab" class="group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @disabled = false })
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password)
        <div id="RoleList" class="group">
            <h4>Roles</h4>
            @if (Model.Roles.Count > 0)
            {
            <ul>
                @foreach (var role in Model.Roles)
                {
                <li>
                    <div>@role.Name</div>
                    <div><a href="#">X</a></div>
                </li>
                }
            </ul>
            }
            <div id="RoleActions" class="group">
                <button id="AddRoleButton" name="AddRoleButton">Add Role</button>
                <div id="AddRoleDialog">
                    @using (Html.BeginForm())
                    {
                        <div>
                            @Html.LabelFor(m => m.SelectedRole)
                            @Html.DropDownListFor(m => m.SelectedRole, Model.AvailableRoles)
                        </div>
                    }
                </div>
            </div>
            <div id="AddRoleDialog">
            </div>
        </div>
    </div>
    <div id="ContactInfoTab" class="group">
        @Html.LabelFor(m => m.Staff.FirstName)
        @Html.TextBoxFor(m => m.Staff.FirstName)
        @Html.LabelFor(m => m.Staff.MiddleName)
        @Html.TextBoxFor(m => m.Staff.MiddleName)
        @Html.LabelFor(m => m.Staff.LastName)
        @Html.TextBoxFor(m => m.Staff.LastName)
        @Html.LabelFor(m => m.Staff.PhoneNumber)
        @Html.TextBoxFor(m => m.Staff.PhoneNumber)
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress)
        <fieldset>
            <legend>Address</legend>
            @Html.LabelFor(m => m.Staff.Address.Street1)
            @Html.TextBoxFor(m => m.Staff.Address.Street1)
            @Html.LabelFor(m => m.Staff.Address.Street2)
            @Html.TextBoxFor(m => m.Staff.Address.Street2)
            @Html.LabelFor(m => m.Staff.Address.City)
            @Html.TextBoxFor(m => m.Staff.Address.City)
            @Html.LabelFor(m => m.Staff.Address.Region)
            @Html.TextBoxFor(m => m.Staff.Address.Region)
        </fieldset>
    </div>
</div>
<div id="UserActions" class="group">
    <div>
        @Html.ActionLink("Cancel", "Index")
        <input type="submit" value="Save" />
    </div>
</div>
}