@model OpenEhs.Web.Models.AdminViewModel
@{
    ViewBag.Title = "OpenEHS - Administration";
}
@section head
{
    <link href="@Url.Content("~/Content/admin.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/admin.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#admin-tab").addClass("current");
        });
    </script>
}

<h2>Administration</h2>

<div id="adminLeft">

    <fieldset id="fsLeftMargin" class="setFieldSetWidth">
        <legend class="legendTextSize">Manage Users</legend>

        <input id="addUser" type="button" value="Add User" />

        <br />

        <input id="editUser" type="button" value="Edit User" />

        <br />

        <input id="deleteUser" type="button" value="Delete User" />

    </fieldset>

	<fieldset id="fsLeftMarginRowTwo" class="setFieldSetWidth">
		<legend class="legendTextSize">Manage Locations</legend>

		<input id="addLocation" type="button" value="Add Location" />

        <br />

		<input id="deleteLocation" type="button" value="Delete Location" />

	</fieldset>

</div>

<div id="adminMiddle">

    <fieldset class="setFieldSetWidth">
        <legend class="legendTextSize">Manage Products</legend>

        <input id="addProduct" type="button" value="Add Product" />

        <br />

        <input id="editProduct" type="button" value="Edit Product" />

        <br />

        <input id="deleteProduct" type="button" value="Delete Product" />

    </fieldset>

	<fieldset id="fsMiddleMarginRowTwo" class="setFieldSetWidth">
        <legend class="legendTextSize">Manage Templates</legend>

        <input id="editTemplate" type="button" value="Edit Template" />

        <br />

        <input id="deleteTemplate" type="button" value="Delete Template" />

    </fieldset>

</div>

<div id="adminRight">

    <fieldset class="setFieldSetWidth">
        <legend class="legendTextSize">Manage Service</legend>

		<input id="addService" type="button" value="Add Service" />

        <br />

        <input id="editService" type="button" value="Edit Service" />

        <br />

        <input id="deleteService" type="button" value="Delete Service" />

    </fieldset>

	<fieldset id="fsRightMarginRowTwo" class="setFieldSetWidth">
        <legend class="legendTextSize">Manage Category</legend>

        <input id="addCategory" type="button" value="Add Category" />

        <br />

        <input id="deleteCategory" type="button" value="Delete Category" />

    </fieldset>

</div>

<div>

    <fieldset id="fsDatabaseBackup">
        <legend class="legendTextSize">Database Backup</legend>
        
		<input type="button" name="backupDatabase" title="backupDatabase" class="backupDatabase" />

		<input type="button" name="restoreDatabase" title="restoreDatabase" class="restoreDatabase" />

		<!-- This way is total hack on how to space this out but oh well... Dont have much time to mess with it! -->

		<p><b id="backupLable"><tt>Backup Database &nbsp &nbsp <spacer> Restore Database</tt></b></p>

    </fieldset>

</div>

<div>

	<fieldset id="fsSystemLogs">
		<legend class="legendTextSize">System Logs</legend>

		I DONT KNOW WHAT GOES IN HERE, IT IS JUST IN THE MOCKUPS...

	</fieldset

</div>

<div id="addProductDialog" title="Add New Product">
    <ul class="modalErrorContainer" style="display: none">
    </ul>
    <form id="addProductForm" action="">
    <fieldset>
        <div class="modal-label-long">
            Name:
        </div>
        <div>
            <input type="text" name="name" id="model_name" class="required modal-input text ui-widget-content ui-corner-all" />
        </div>
        <div class="modal-label-long">
            Unit:
        </div>
        <div>
            <input type="text" name="unit" id="model_unit" class="required modal-input text ui-widget-content ui-corner-all" />
        </div>
		<div class="modal-label-long">
            Category:
        </div>
        <div>
            <input type="text" name="categoryid" id="model_categoryid" class="required modal-input text ui-widget-content ui-corner-all" />
        </div>
		<div class="modal-label-long">
            Price:
        </div>
        <div>
            <input type="text" name="price" id="model_price" class="required modal-input text ui-widget-content ui-corner-all" />
        </div>
		<div class="modal-label-long">
            Quantity:
        </div>
        <div>
            <input type="text" name="quantityonhand" id="model_quantityonhand" class="required modal-input text ui-widget-content ui-corner-all" />
        </div>
    </fieldset>
    </form>
</div>

<div id="removeProductDialog" title="Remove Product">
    <ul class="modalErrorContainer" style="display: none">
    </ul>
    <form id="removeProductForm" action="">
    <fieldset>
        <div class="modal-label-long">
            Name:
        </div>
        <div>
            <input type="text" name="prodname" id="model_prodname" class="required modal-input text ui-widget-content ui-corner-all" />

			<select name="productSelect" id="model_productSelect">
            <option value="">Select Product...</option>
            @foreach (var prod in Model.Products)
            {
                <option value="@prod.Id">@prod.Name</option>
            }
            </select>
		

        </div>
    </fieldset>
    </form>
</div>

<div id="editProductDialog" title="Edit Product">
    <ul class="modalErrorContainer" style="display: none">
    </ul>
    <form id="editProductForm" action="">
    <fieldset>
        <div class="modal-label-long">
            Search Product:
        </div>
        <div>
            <input type="text" name="selectprod" id="model_selectprod" class="required modal-input text ui-widget-content ui-corner-all" />

	
			<select name="productSelect" id="model_productSelect">
            <option value="">Select Product...</option>
            @foreach (var prod in Model.Products)
            {
                <option value="@prod.Id">@prod.Name</option>
            }
        </select>

        </div>
		 <div class="modal-label-long">
            Name:
        </div>
		<div>
            <input type="text" name="editprodname" id="model_editprodname" class="required modal-input text ui-widget-content ui-corner-all" />
        </div>
		<div class="modal-label-long">
            Unit:
        </div>
		<div>
            <input type="text" name="editprodunit" id="model_editprodunit" class="required modal-input text ui-widget-content ui-corner-all" />
        </div>
		<div class="modal-label-long">
            Category:
        </div>
		<div>
            <input type="text" name="editprodcategory" id="model_editprodcategory" class="required modal-input text ui-widget-content ui-corner-all" />
        </div>
		<div class="modal-label-long">
            Price:
        </div>
		<div>
            <input type="text" name="editprodprice" id="model_editprodprice" class="required modal-input text ui-widget-content ui-corner-all" />
        </div>
    </fieldset>
    </form>
</div>

<div id="addLocationDialog" title="Add Location">
    <ul class="modalErrorContainer" style="display: none">
    </ul>
    <form id="addLocationForm" action="">
    <fieldset>
        <div class="modal-label-long">
            Department:
        </div>
        <div>
            <input type="text" name="departmentname" id="model_departmentname" class="required modal-input text ui-widget-content ui-corner-all" />
        </div>
		<div class="modal-label-long">
            Room Number:
        </div>
        <div>
            <input type="text" name="addroomnumber" id="model_addroomnumber" class="required modal-input text ui-widget-content ui-corner-all" />
        </div>
    </fieldset>
    </form>
</div>

<div id="addCategoryDialog" title="Add Category">
    <ul class="modalErrorContainer" style="display: none">
    </ul>
    <form id="addCategoryForm" action="">
    <fieldset>
        <div class="modal-label-long">
            Name:
        </div>
        <div>
            <input type="text" name="categoryname" id="model_categoryname" class="required modal-input text ui-widget-content ui-corner-all" />
        </div>
		<div class="modal-label-long">
            Description:
        </div>
        <div>
            <input type="text" name="categorydescription" id="model_categorydescription" class="required modal-input text ui-widget-content ui-corner-all" />
        </div>
    </fieldset>
    </form>
</div>