@model IEnumerable<OpenEhs.Domain.Invoice>

@{
    ViewBag.Title = "Index";
}
@section head
{
	<link href="@Url.Content("~/Content/billing.main.css")" rel="Stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/jquery-jvert-tabs-1.1.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ckedit/ckeditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ckedit/adapters/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/billing.js")" type="text/javascript"></script>
}

<h2>Billing</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="Actions" class="ui-widget">
    @Html.ActionLink("New Billing", "Create", null, new { id = "CreateNewBillingButton" })
	<div style="float: right">
		<input id="tags" />
		<button name="Search" id="SearchBillingButton">Search</button>
	</div>
</div>

<table>
    <tr>
        <th></th>
        <th>
            Total
        </th>
        <th>
            Date
        </th>
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            IsActive
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
            @String.Format("{0:F}", item.Total)
        </td>
        <td>
            @String.Format("{0:g}", item.Date)
        </td>
        <td>
            @String.Format("{0}", item.PatientCheckIn.Patient.LastName)
        </td>
        <td>
            @String.Format("{0}", item.PatientCheckIn.Patient.FirstName)
        </td>
        <td>
            @item.IsActive
        </td>
    </tr>
}

</table>