@{
    ViewBag.Title = "Help";
}
@section head
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#help-tab").addClass("current");
        });
    </script>
}
<h1>
    Help
</h1>
<br />
<div id="links">
    <h2>@Html.ActionLink("Patient Search", "PatientSearch")</h2>
    <h2>@Html.ActionLink("Patient Creation", "PatientCreation")</h2>
    <h2>@Html.ActionLink("Patient Resources", "PatientResources")</h2>
    <h2>@Html.ActionLink("Billing Search", "BillingSearch")</h2>
    <h2>@Html.ActionLink("Bar Code Printer Setup", "PrinterSetup")</h2>
    <h2>@Html.ActionLink("Print Bar Code For Existing Patient", "PrintExistingPatientBarcode")</h2>
</div>
