@model OpenEhs.Web.Models.RegisterModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>OpenEHS - User Registration</title>

        <link href="@Url.Content("~/Content/registration.css")" rel="stylesheet" type="text/css" />

        <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="container">
            <div id="logo">
                <img src="@Url.Content("~/images/openehs.logo.big.png")" alt="OpenEHS" />
            </div>
            <h2>Register</h2>
            <div id="registration" class="group">
                @using (Html.BeginForm())
                {
                    <div id="basicInformation" class="step">
                        <h3>Basic Information</h3>
                        <ul>
                            <li>
                                @Html.LabelFor(m => m.FirstName)
                                @Html.TextBoxFor(m => m.FirstName, new { @id = "firstNameTextbox" })
                            </li>
                            <li>
                                @Html.LabelFor(m => m.MiddleName)
                                @Html.TextBoxFor(m => m.MiddleName, new { @id = "middleNameTextbox" })
                            </li>
                            <li>
                                @Html.LabelFor(m => m.LastName)
                                @Html.TextBoxFor(m => m.LastName, new { @id = "lastNameTextbox" })
                            </li>
                            <li>
                                @Html.LabelFor(m => m.Title)
                                @Html.DropDownListFor(m => m.Title, new { @id = "titleDropdown" })
                            </li>
                        </ul>
                    </div>
                    <div id="contactInformation" class="step">
                        <h3>Contact Information</h3>
                        <ul>
                            <li>
                                @Html.LabelFor(m => m.PhoneNumber)
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @id = "phoneNumberTextBox" })
                            </li>
                            <li>
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @id = "emailAddressTextBox" })
                            </li>
                        </ul>
                        <fieldset>
                            <legend>Address</legend>
                            <ul>
                                <li>
                                    <label for="street1Textbox">Street 1</label>
                                    <input type="text" id="street1Textbox" name="street1Textbox" tabindex="" />
                                </li>
                                <li>
                                    <label for="street2Textbox">Street 2</label>
                                    <input type="text" id="street2Textbox" name="street2Textbox" tabindex="" />
                                </li>
                                <li>
                                    <label for="cityTextbox">City</label>
                                    <input type="text" id="cityTextbox" name="cityTextbox" tabindex="" />
                                </li>
                                <li>
                                    <label for="regionTextbox">Region</label>
                                    <input type="text" id="regionTextbox" name="regionTextbox" tabindex="" />
                                </li>
                                <li>
                                    <label for="countryDropdown">Country</label>
                                    <select name="countryDropdown" id="countryDropdown">
                                        <option value="GHA">Ghana</option>
                                    </select>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                    <div id="credentialsInformation" class="step">
                        <h3>User Credentials</h3>
                        <ul>
                            <li>
                                <label>Username</label>
                                <div id="generatedUsername">generated.username.here</div>
                            </li>
                            <li>
                                <label for="passwordTextbox">Password</label>
                                <input type="password" id="passwordTextbox" name="passwordTextbox" />
                                <p>Passwords must be at least @ViewBag.PasswordLength characters in length.</p>
                            </li>
                        </ul>
                    </div>
                    <div id="registrationNavigation">
                        <input class="navigation_button" id="back" value="Back" type="reset" />
                        <input class="navigation_button" id="next" value="Next" type="submit" />
                    </div>
                }
            </div>
        </div>
    </body>
</html>