@model OpenEhs.Web.Models.BillingViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Invoice For 
        @String.Format("{0} ", Model.PatientFirstName)
        @String.Format(Model.PatientMiddleName == ""?"":"{0}",Model.PatientMiddleName)
        @String.Format("{0}", Model.PatientLastName)
    </legend>

    <div class="display-label">Date</div>
    <div class="display-field">@String.Format("{0:g}", Model.Date)</div>
    
    <hr />
    <div class="display-label">Invoice Items</div>
    <table>
    <tr>
        <th>Quantity</th><th>Service</th><th>Product</th><th>Price</th><th>Total</th>
    </tr>
    @foreach (var Item in Model.LineItems)
    {
        <tr>
        <td>@Item.Quantity</td>
        
        @if (Item.Service != null)
        {
            <td>@Item.Service.Name</td>
            <td></td>      
            <td>GH$ @Item.Service.Price</td>
        }
        else
        {
            <td></td>
            <td>@Item.Product.Name</td>
            <td>GH$ @Item.Product.Price</td>
        }
        
        <td>GH$ @Item.Total</td>
        </tr>
    }
    </table>
    <hr />

    <div class="display-label">Total</div>
    <div class="display-field">GH$ @String.Format("{0:F}", Model.Total)</div>

    <div class="display-label">Payment</div>
    <div class="display-field">GH$ @String.Format("{0:F}", Model.PaymentAmount)</div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

