@model OpenEhs.Web.Models.PatientViewModel
<div id="visitHistoryHeader" class="group">
    <h2 id="visitHistory">
        Visit History</h2>
</div>

<div>
    <br />

	<p id="visitTitle"><b>
		Last recorded visits
	</b></p>

    <br />

    @if (Model.SearchCheckIns.Count == 0)
    {
        <ul id="NoRecordedVisits">
            <li style="float: left;">
                There are no recorded current medications for this patient.
            </li>
        </ul>
    }
    else
    {
    <ul id="visitHistoryList">
    @foreach (var visit in Model.SearchCheckInsTop1)
    {
        <li class="group">
            <div style="float: left;"><b>Visit Date: </b>@visit.CheckInTime</div><br />
            <div style="float: left;"><b>Diagnosis: </b> @visit.Diagnosis</div><br />
            <div>
                <div id="visitVitalsLink">
	                Show Vitals...
                </div>
                <div id="visitVitalsMoreInfo">
                    <table id="vitalHistory" class="vitalsHist">
                        <thead>
                            <tr>
                                <th>
                                    Time
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Height(cm)
                                </th>
                                <th>
                                    Weight(kg)
                                </th>
                                <th>
                                    Temperature(&deg;C)
                                </th>
                                <th>
                                    Heart Rate(bpm)
                                </th>
                                <th>
                                    Blood Pressure(mmHg)
                                </th>
                                <th>
                                    Respiratory Rate(Hz)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var checkin in Model.SearchCheckInsTop1)
                            {
                                foreach (var vital in checkin.Vitals)
                                {
                                    <tr>
                                        <td>
                                            @vital.Time
                                        </td>
                                        <td>
                                            @vital.Type
                                        </td>
                                        <td>
                                            @vital.Height
                                        </td>
                                        <td>
                                            @vital.Weight
                                        </td>
                                        <td>
                                            @vital.Temperature
                                        </td>
                                        <td>
                                            @vital.HeartRate
                                        </td>
                                        <td>
                                            @vital.BloodPressure
                                        </td>
                                        <td>
                                            @vital.RespiratoryRate
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div>
                <div id="visitNoteLink">
	                Show Notes...
                </div>
                <div id="visitNoteMoreInfo">
                    <div style="float: left;"><b>Notes: </b> This is where notes go! This is just a test not about visit, I just really wanted 
                                    to see how long the note can be and still look good in this link box I made. Well I hope if you are reading
                                    this that you like how dry and boaring this is...
                    </div>
                </div>
            </div>
        </li>
    }
    </ul>
    }

    <div id="visitPastLink" font-size="15">
	        Search past visits...
    </div>
        <div id="visitPastMoreInfo">
            
            <div id="pastVisitFieldSet">
            <fieldset>
                @using (Html.BeginForm("SearchVisit", "Patient"))
                {
                    <label for="from">From</label>
                    <input type="text" id="from" name="from"/>
                    <label for="to">to</label>
                    <input type="text" id="to" name="to" />
                    <input id="visitHistorySearchButton" type="button" value="Search" />
                }
            </fieldset>
            </div>

            <br />
          

            <h3 id="h3ID">
                Select Result
            </h3>

            <br />

            <ul id="visitHistorySearchList">
            <li class="group">
            <div style="float: left;"><b>Visit Date: </b> N/A </div><br />
            <div style="float: left;"><b>Diagnosis: </b> N/A </div><br />
            <div>
                <div><b>
	                Vitals:
                </b></div>
                <div>
                    <table id="vitalHistory1" class="vitalsHist">
                        <thead>
                            <tr>
                                <th>
                                    Time
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Height(cm)
                                </th>
                                <th>
                                    Weight(kg)
                                </th>
                                <th>
                                    Temperature(&deg;C)
                                </th>
                                <th>
                                    Heart Rate(bpm)
                                </th>
                                <th>
                                    Blood Pressure(mmHg)
                                </th>
                                <th>
                                    Respiratory Rate(Hz)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                                    <tr>
                                        <td>
                                           N/A
                                        </td>
                                        <td>
                                           N/A 
                                        </td>
                                        <td>
                                           N/A
                                        </td>
                                        <td>
                                            N/A
                                        </td>
                                        <td>
                                           N/A
                                        </td>
                                        <td>
                                           N/A 
                                        </td>
                                        <td>
                                           N/A
                                        </td>
                                        <td>
                                           N/A 
                                        </td>
                                    </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div><b>
	                Notes:
                </b>
                    N/A
                </div>
            </div>
        </li>
    </ul>
</div>
</div>
