@model OpenEhs.Web.Models.PatientViewModel
<div id="medicationHeader" class="group">
    <h2 id="medication">
        Medication List
    </h2>
    <input class="medicationPrintButton" id="medicationPrintButton" name="medicationPrintButton"
        type="button" value="Print" />
    <input class="medicationAddButton" id="medicationAddButton" name="medicationAddButton"
        type="button" value="Add" />
</div>
<div id="newMedicationDialog" title="Add New Medication for @Model.FirstName @Model.LastName">
    <ul class="modalErrorContainer" style="display: none">
    </ul>
    <form id="addRxForm" action="">
    <fieldset>
        <div class="modal-label">
            Name:
        </div>
        <div>
            <input type="text" name="name" id="modal_medicationName" class="required modal-input text ui-widget-content ui-corner-all" />
        </div>
        <div class="modal-label">
            Instruction:
        </div>
        <div>
            <input type="text" name="instructions" id="modal_medicationInstructions" class="required modal-input text ui-widget-content ui-corner-all" />
        </div>
        <div class="modal-label">
            Start Date:
        </div>
        <div>
            <input type="text" name="startdate" id="RxStartDatePicker" class="required modal-input text ui-widget-content ui-corner-all datepicker" />
        </div>
        <div class="modal-label">
            Exp Date:
        </div>
        <div>
            <input type="text" name="expdate" id="RxExpDatePicker" class="required modal-input text ui-widget-content ui-corner-all datepicker" />
        </div>
    </fieldset>
    </form>
</div>
<div>
    <p id="rxTitle">
        <b>Current Medications </b>
    </p>
    <br />
    @if (Model.CurrentMedications.Count == 0) {
        <ul id="MedicationListOne">
            <li style="float: left;">There are no recorded current medications for this patient.
            </li>
        </ul>
    } else {
        <ul id="MedicationListTwo">
            @foreach (var medication in Model.CurrentMedications) {
                <li class="group">
                    <div style="float: left;">
                        <b>Name: </b>@medication.Name
                    </div>
                    <br />
                    <div style="float: left;">
                        <b>Instructions: </b>@medication.Instruction</div>
                    <br />
                    <div style="float: left;">
                        <b>Start Date: </b>@medication.StartDate</div>
                    <br />
                    <div style="float: left;">
                        <b>Exp Date: </b>@medication.ExpDate</div>
                </li>
            }
        </ul>
    }
    <div id="rxInfoLink">
        Show Past Medications...
    </div>
    <div id="rxMoreInfo">
        @if (Model.PastMedications.Count == 0) {
            <ul id="MedicationListThree">
                <li style="float: left;">There are no recorded past medications for this patient.
                </li>
            </ul>
        } else {
            <ul id="MedicationListFour">
                @foreach (var medication in Model.PastMedications) {
                    <li class="group">
                        <div style="float: left;">
                            <b>Name: </b>@medication.Name
                        </div>
                        <br />
                        <div style="float: left;">
                            <b>Exp Date: </b>@medication.ExpDate</div>
                    </li>
                }
            </ul>
        }
    </div>
</div>
