@model IEnumerable<OpenEhs.Domain.Patient>
@{
    ViewBag.Title = "OpenEHS - Patients";
}
@section head
{
    <link href="@Url.Content("~/Content/patient.main.css")" rel="Stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CreateNewPatientButton").button();
            $("#SearchPatientButton").button();

            $("#RecentlyAccessedList table tr").click(function () {
                var href = $(this).find("a").attr("href");

                if (href) {
                    window.location = href;
                }
            });
        });
    </script>
}
<h2>
    Patients
</h2>
<div id="Actions" class="group">
    @Html.ActionLink("New Patient", "Create", null, new { id = "CreateNewPatientButton" })
    <div id="Search" class="group">
	    <input type="text" name="PatientSearchTextBox" id="PatientSearchTextBox" />
	    @Html.ActionLink("Search", "Search", null, new { id = "SearchPatientButton" })
    </div>
</div>
<div id="RecentlyAccessedList">
    <table>
        <thead>
            <tr>
                <th class="IdColumn">
			        ID #
                </th>
                <th class="NameColumn">
                    Name
                </th>
                <th class="DateOfBirthColumn">
                    DOB
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) 
	    {
            <tr>
                <td class="IdColumn">
                    @String.Format("{0}", item.Id)
                </td>
                <td class="NameColumn">
                    @if (item.MiddleName != String.Empty) {
                        @Html.ActionLink(String.Format("{2}, {0} {1}", item.FirstName, item.MiddleName, item.LastName), "Details", new { id = item.Id })
                    } else {
                        @Html.ActionLink(String.Format("{1}, {0}", item.FirstName, item.LastName), "Details", new { id = item.Id })
                    }
                </td>
                <td class="DateOfBirthColumn">
                    @String.Format("{0:dd/MMM/yyyy}", item.DateOfBirth)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>