@model OpenEhs.Web.Models.UserViewModel

@{
    ViewBag.Title = "OpenEHS - User Management";
}
@section head
{
    <style type="text/css">
        input, select
        {
            font-size: 1.6em;
        }
        
        #SearchTerm
        {
            float: right;
            width: 400px;
        }
        
        .focusSearchTextbox
        {
            color: #000;
        }
            
        .blurSearchTextbox
        {
            color: #aaa;
            font-style: italic;
        }
        
        #UserList
        {
        	width: 100%;
        }
        
        #UserList tbody tr
        {
        	cursor: pointer;
        }
        
        #UserList tbody tr:hover
        {
        	background-color: #c0e0ff;
        }
        
        .usernameColumn
        {
        	font-size: 1.4em;
        }
        
        .nameColumn
        {
        	font-size: 1.4em;
        }
        
        .rolesColumn
        {
        	font-size: 1.4em;
        }
        
        .approvedColumn
        {
        	width: 50px;
        	text-align: center;
        	font-size: 1.4em;
        }
        
        .striped
        {
        	background-color: #eee;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#SearchTerm").val("Search").addClass("blurSearchTextbox");

            $("#SearchTerm").focus(function () {
                $("#SearchTerm").removeClass("blurSearchTextbox");
                $("#SearchTerm").addClass("focusSearchTextbox");
                $("#SearchTerm").val("");
            });

            $("#SearchTerm").blur(function () {
                $("#SearchTerm").removeClass("focusSearchTextbox");
                $("#SearchTerm").addClass("blurSearchTextbox");
                $("#SearchTerm").val("Search");
            });

            $("#SelectedRole").change(function (data) {
                alert($("#SelectedRole option:selected").val() + " selected!");
            });

            $("#UserList tbody tr:odd").addClass("striped");

            $("#UserList tbody tr").click(function () {
                var href = $(this).find("a").attr("href");

                if (href) {
                    window.location = href;
                }
            });
        });
    </script>
}


<h2>User Management</h2>
<div class="group">
@using (Html.BeginForm())
{
    <input type="submit" name="NewUserButton" id="NewUserButton" value="New User" />
    @Html.DropDownListFor(m => m.SelectedRole, Model.Roles)
    @Html.TextBoxFor(m => m.SearchTerm)
}

    <table id="UserList">
        <thead>
            <tr>
                <th class="usernameColumn">Username</th>
                <th class="nameColumn">Name</th>
                <th class="rolesColumn">Roles</th>
                <th class="approvedColumn">Approved</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td class="usernameColumn">@Html.ActionLink(user.Username, "Details", new { Id = user.Id })</td>
                <td class="nameColumn">@String.Format("{1}, {0}", user.Staff.FirstName, user.Staff.LastName)</td>
                <td class="rolesColumn">@user.Roles.ToString()</td>
                <td class="approvedColumn">@Html.CheckBox("approvedCheckbox", user.IsApproved)</td>
            </tr>
        }
        </tbody>
    </table>
    Page: @Html.PageLinks(Model.Users.PageIndex, Model.Users.PageCount, x => Url.Action("Index", new { page = x }))
</div>