@model OpenEhs.Web.Models.PatientViewModel
<div id="immunizationHeader" class="group">
    <h2 id="immunization">
        Immunization
	</h2>
    <input id="immunizationAddButton" name="immunizationAddButton" type="button" value="Add" />
</div>

<div id="newImmunizationDialog" title="Add New Immunization for @Model.FirstName @Model.LastName">
    <p class="validateTips">
            All form fields are required.
    </p>
    @using (Html.BeginForm("AddImmunization", "Patient", "POST"))
    {
        <fieldset>
            <label for="vaccinetype">
                Vaccine Type:
            </label>
            <input type="text" name="vaccinetype" id="modal_immunizationVaccineType" class="text ui-widget-content ui-corner-all" /><br />

            <label for="dateadministered">
                Date Administered:
            </label>
            <input type="text" name="instructions" id="modal_immunizationDateAdministered" class="text ui-widget-content ui-corner-all" /><br />
        </fieldset>
    }
</div>



<div>

    <p id="immunizationTitle"><b>Immunizations within 10 years</b></p><br />
    
	<ul id="immunizationListOne">
		@if(Model.TenYearImmunization.Count == 0)
		{
			<li>Patient does not have any current recorded immunizations.</li>
		}
		else
		{
		foreach (var shots in Model.TenYearImmunization)
        {
		        <li class="group">
			        <div style="float: left;"><b>Vaccine Type: </b>@shots.VaccineType</div><br />
			        <div style="float: left;"><b>Date Administered: </b>@shots.DateAdministered</div>
		        </li>
        }
        }
	</ul>
</div>

<div id="immunizationInfoLink">
        Immunizations Prior to 10 years...
</div>

    <div id="immunizationMoreInfo">

        <ul id="immunizationListTwo">

			@if(Model.PriorImmunization.Count == 0)
			{
				<li>Patient does not have any prior 10 year immunizations.</li>
			}
			else
			{
				foreach(var shots in Model.PriorImmunization)
				{
						<li class="group">
							<div style="float: left;"><b>Vaccine Type: </b>@shots.VaccineType</div><br />
							<div style="float: left;"><b>Date Administered: </b>@shots.DateAdministered</div>
						</li>
				}
			}

        </ul>

</div>
