@model OpenEhs.Web.Models.PatientViewModel
@{
    ViewBag.Title = "Create";
}
@section head
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/PrintLabelCreate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DYMO.Label.Framework.1.0.beta.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/patient.css")" rel="Stylesheet" type="text/css" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#patients-tab").addClass("current");
        });
    </script>
}
<h2>
    Create</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Patient</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MiddleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MiddleName)
            @Html.ValidationMessageFor(model => model.MiddleName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BloodType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BloodType)
            @Html.ValidationMessageFor(model => model.BloodType)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TribeRace)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TribeRace)
            @Html.ValidationMessageFor(model => model.TribeRace)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Religion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Religion)
            @Html.ValidationMessageFor(model => model.Religion)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.OldPhysicalRecordNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OldPhysicalRecordNumber)
            @Html.ValidationMessageFor(model => model.OldPhysicalRecordNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
