@model OpenEhs.Domain.Patient
@{
    if (Model.MiddleName != String.Empty) {
        ViewBag.Title = String.Format("Patient: {2}, {0} {1}", Model.FirstName, Model.MiddleName, Model.LastName);
    } else {
        ViewBag.Title = String.Format("Patient: {1}, {0}", Model.FirstName, Model.LastName);
    }
}
@section head
{
    <link href="@Url.Content("~/Content/jvert-tabs/jquery-jvert-tabs-1.1.4.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/patient.view.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/patient.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-jvert-tabs-1.1.4.js")" type="text/javascript"></script>
    @* Hack for enabling jQuery intellisense.  See http://blogs.msdn.com/b/webdevtools/archive/2008/10/28/rich-intellisense-for-jquery.aspx *@
    @if (false) {
        <script src="../../Scripts/jquery-1.4.4-vsdoc.js" type="text/javascript"></script>
    }
    <script type="text/javascript">
        $(document).ready(function () {
        var allergyEditId;
        var allergyEditName;
            var name = $( "#modal_allergyName" ),
			    allFields = $( [] ).add( name ),
			    tips = $( ".validateTips" );
                
            $("#patientView").jVertTabs();
            $("#GenderRadio").buttonset();

            $("#DateOfBirth").datepicker({
                showOn: "button",
                buttonImage: "@Url.Content("~/Content/themes/base/images/calendar.png")",
                buttonImageOnly: true,
                changeYear: true
            });

            $("#EmergencyContactMoreInfoLink").click(function() {
                $("#EmergencyContactMoreInfo").slideToggle("slow", function() {
                });
            });

            $( "#allergyDialog" ).dialog({
			    autoOpen: false,
			    height: 250,
			    width: 350,
			    modal: true,
			    buttons: {
				    "Save Allergy": function() {
                        $.post("Patient/EditAllergy", {
                            patientID: "@Model.Id",
                            allergyID: allergyEditId,
                            allergyName: allergyEditName 
                            }, function(data) {
                                var returnData = jQuery.parseJSON(data);
                                console.log(returnData);
                                $("#allergyPostStatus").html(returnData.status);
                                $( this ).dialog( "close" );
                        });
				    },
				    Cancel: function() {
					    $( this ).dialog( "close" );
				    }
			    },
			    close: function() {
				    allFields.removeClass( "ui-state-error" );
			    }
		    });

             $( "#newVitalDialog" ).dialog({
			    autoOpen: false,
			    height: 350,
			    width: 400,
			    modal: true,
			    buttons: {
				    "Save Allergy": function() {
                        $.post("Patient/EditAllergy", {
                            patientID: "@Model.Id",
                            allergyID: allergyEditId,
                            allergyName: allergyEditName 
                            }, function(data) {
                                var returnData = jQuery.parseJSON(data);
                                console.log(returnData);
                                $("#allergyPostStatus").html(returnData.status);
                                $( this ).dialog( "close" );
                        });
				    },
				    Cancel: function() {
					    $( this ).dialog( "close" );
				    }
			    },
			    close: function() {
				    allFields.removeClass( "ui-state-error" );
			    }
		    });

            $(".allergyEditButton").button().click(function() {
                allergyEditId = $(this).attr("id");
                allergyEditName = $(this).attr("name");
                $("#modal_allergyName").val(allergyEditName);
                $("#allergyDialog").dialog("open");
            });  

            $(".vitalAddButton").button().click(function() {
                $("#newVitalDialog").dialog("open");
            });  


            $( "#diseaseDialog" ).dialog({
			    autoOpen: false,
			    height: 300,
			    width: 350,
			    modal: true,
			    buttons: {
				    "Save Disease": function() {
					    var bValid = true;
					    allFields.removeClass( "ui-state-error" );

					    if ( bValid ) {
						    $( this ).dialog( "close" );
					    }
				    },
				    Cancel: function() {
					    $( this ).dialog( "close" );
				    }
			    },
			    close: function() {
				    allFields.removeClass( "ui-state-error" );
			    }
		    });

            $(".diseaseEditButton").button().click(function() {
                $("#diseaseDialog").dialog("open");
            });    
			
			$(".allergyAddButton").button().click(function() 
			{
                
            });  
			             
        });
    </script>
}
<div id="patientViewHeader" class="group">
    @if (Model.MiddleName != String.Empty) {
        <h2>@String.Format("{2}, {0} {1}", Model.FirstName, Model.MiddleName, Model.LastName)</h2>
    } else {
        <h2>@String.Format("{1}, {0}", Model.FirstName, Model.LastName)</h2>
    }
    <h2 style="margin-left: 20px; font-weight: normal;">Age: @Model.Age</h2>
    <h2 style="margin-left: 20px; font-weight: normal;">
        DOB: @String.Format("{0:d}", Model.DateOfBirth)</h2>
    <div style="float: right; margin-right: 20px; margin-top: 13px;">
        @Html.CheckBoxFor(model => model.IsActive) @Html.LabelFor(model => model.IsActive, "Active")
    </div>
</div>
<div id="patientView">
    <div>
        <ul>
            <li><a href="#patientView-Basic">Basic</a></li>
            <li><a href="#patientView-Vitals">Vitals</a></li>
            <li><a href="#patientView-PMH">PMH</a></li>
            <li><a href="#patientView-DxHistory">Dx History</a></li>
            <li><a href="#patientView-RxList">Rx List</a></li>
            <li><a href="#patientView-ChronicDiseases">Chronic Diseases</a></li>
            <li><a href="#patientView-Allergies">Allergies</a></li>
            <li><a href="#patientView-Encounters">Encounters</a></li>
            <li><a href="#patientView-Testing">Testing</a></li>
        </ul>
    </div>
    <div>
        <div id="#patientView-Basic" class="group">
            <div id="BasicInformationColumn">
                <fieldset class="group">
                    <legend>General</legend>
                    <div class="column">
                        @Html.LabelFor(model => model.Id, "Patient ID")<br />
                        @Html.TextBoxFor(model => model.Id)<br />
                        @Html.LabelFor(model => model.FirstName, "First Name")<br />
                        @Html.TextBoxFor(model => model.FirstName)<br />
                        @Html.LabelFor(model => model.MiddleName, "Middle Name")<br />
                        @Html.TextBoxFor(model => model.MiddleName)<br />
                        @Html.LabelFor(model => model.LastName, "Last Name")<br />
                        @Html.TextBoxFor(model => model.LastName)<br />
                    </div>
                    <div class="column">
                        @Html.LabelFor(model => model.Gender, "Gender")<br />
                        <div id="GenderRadio">
                            @Html.RadioButtonFor(model => model.Gender, "Male", new { @id = "MaleGenderRadio" })
                            @Html.Label("MaleGenderRadio", "Male")
                            @Html.RadioButtonFor(model => model.Gender, "Female", new { @id = "FemaleGenderRadio" })
                            @Html.Label("FemaleGenderRadio", "Female")
                        </div>
                        @Html.LabelFor(model => model.DateOfBirth, "DOB")<br />
                        @Html.TextBox("DateOfBirth", String.Format("{0:d}", Model.DateOfBirth))<br />
                        @Html.LabelFor(model => model.PhoneNumber, "Phone Number")<br />
                        @Html.TextBoxFor(model => model.PhoneNumber)
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Emergency Contact</legend>
                    @Html.LabelFor(model => model.EmergencyContact.FirstName)<br />
                    @Html.TextBoxFor(model => model.EmergencyContact.FirstName)<br />
                    @Html.LabelFor(model => model.EmergencyContact.LastName)<br />
                    @Html.TextBoxFor(model => model.EmergencyContact.LastName)<br />
                    @Html.LabelFor(model => model.EmergencyContact.PhoneNumber)<br />
                    @Html.TextBoxFor(model => model.EmergencyContact.PhoneNumber)<br />
                    <br />
                    <div id="EmergencyContactMoreInfoLink">
                        Show Details...</div>
                    <div id="EmergencyContactMoreInfo">
                        @Html.LabelFor(model => model.EmergencyContact.Address.Street1)<br />
                        @Html.TextBoxFor(model => model.EmergencyContact.Address.Street1)<br />
                        @Html.LabelFor(model => model.EmergencyContact.Address.Street2)<br />
                        @Html.TextBoxFor(model => model.EmergencyContact.Address.Street2)<br />
                        @Html.LabelFor(model => model.EmergencyContact.Address.City)<br />
                        @Html.TextBoxFor(model => model.EmergencyContact.Address.City)<br />
                        @Html.LabelFor(model => model.EmergencyContact.Address.Region)<br />
                        @Html.TextBoxFor(model => model.EmergencyContact.Address.Region)
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Address</legend>
                    @Html.LabelFor(model => model.Address.Street1, "Street 1")<br />
                    @Html.TextBoxFor(model => model.Address.Street1)<br />
                    @Html.LabelFor(model => model.Address.Street2, "Street 2")<br />
                    @Html.TextBoxFor(model => model.Address.Street2)<br />
                    @Html.LabelFor(model => model.Address.City)<br />
                    @Html.TextBoxFor(model => model.Address.City)<br />
                    @Html.LabelFor(model => model.Address.Region)<br />
                    @Html.TextBoxFor(model => model.Address.Region)
                </fieldset>
            </div>
            <div id="BasicInformationNotes">
                <fieldset>
                    <legend>Notes</legend>
                    <textarea cols="25" rows="20">Notes go here!</textarea>
                </fieldset>
            </div>
        </div>

        <div id="#patientView-Vitals">
            <div id="vitalsHeader" class="group">
                <h2 id="Vitals">Vitals</h2>
                <input class="vitalAddButton" id="vitalAddButton" name="vitalAddButton" type="button" value="Add" />
            </div>
            <div id="vitalsBody" class="group">
                <div id="newVitalDialog" title="Add New Vital for @Model.FirstName @Model.LastName">
                    <p class="validateTips">
                        All form fields are required.</p>
                    @using (Html.BeginForm("AddVital", "Patient", "POST")) {
                        <fieldset>
                            <label for="height">Height</label>
                            <input type="text" name="height" id="modal_vitalHeight" class="text ui-widget-content ui-corner-all" />

                            <label for="weight">Weight</label>
                            <input type="text" name="weight" id="modal_vitalWeight" class="text ui-widget-content ui-corner-all" />

                            <label for="temperature">Temperature</label>
                            <input type="text" name="temperature" id="modal_vitalTemperature" class="text ui-widget-content ui-corner-all" />

                            <label for="heartRate">Heart Rate</label>
                            <input type="text" name="heartRate" id="modal_vitalHeartRate" class="text ui-widget-content ui-corner-all" />

                            <label for="bpSystolic">Systolic BP</label>
                            <input type="text" name="bpSystolic" id="modal_vitalBpSystolic" class="text ui-widget-content ui-corner-all" />

                            <label for="bpDiastolic">Diastolic BP</label>
                            <input type="text" name="bpDiastolic" id="modal_vitalBpDiastolic" class="text ui-widget-content ui-corner-all" />

                            <label for="respiratoryRate">Respiratory Rate</label>
                            <input type="text" name="respiratoryRate" id="modal_vitalRespiratoryRate" class="text ui-widget-content ui-corner-all" />
                        </fieldset>
                    }
                </div>
            
                <table>
                    <thead>
                        <tr>
                            <th class="vitalDateColumn">Date</th>
                            <th class="vitalHeightColumn">Height(cm)</th>
                            <th class="vitalWeightColumn">Weight(kg)</th>
                            <th class="vitalTemperatureColumn">Temperature(&deg;c)</th>
                            <th class="vitalHeartRateColumn">Heart Rate(bpm)</th>
                            <th class="vitalBloodPressureColumn">Blood Pressure(mmHg)</th>
                            <th class="vitalRespiratoryRateColumn">Respiratory Rate(Hz)</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach(var checkin in Model.PatientCheckIns)
                    {
                        foreach (var encounter in checkin.Encounters)
                        {
                            foreach (var vital in encounter.Vitals)
                            {
                                <tr>
                                    <td class="vitalDateColumn">@vital.Time</td>
                                    <td class="vitalHeightColumn">@vital.Height</td>
                                    <td class="vitalWeightColumn">@vital.Weight</td>
                                    <td class="vitalTemperatureColumn">@vital.Temperature</td>
                                    <td class="vitalHeartRateColumn">@vital.HeartRate</td>
                                    <td class="vitalBloodPressureColumn">@vital.BloodPressure</td>
                                    <td class="vitalRespiratoryRateColumn">@vital.RespiratoryRate</td>
                                </tr>
                            }
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>

        <div id="#patientView-PMH">
        <h2 id="PMH">
                PMH</h2>
             <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul> 
        </div>

        <div id="#patientView-DxHistory">
        <h2 id="DxHistory">
                Dx History</h2>
             <ul>
                <li>History Item 1</li>
                <li>History Item 2</li>
                <li>History Item 3</li>
            </ul> 
        </div>

        <div id="#patientView-RxList">
        <h2 id="RxList">
                Rx List</h2>
             <ul>
                <li>Rx Item 1</li>
                <li>Rx Item 2</li>
                <li>Rx Item 3</li>
            </ul> 
        </div>


        <div id="#patientView-ChronicDiseases">
            <h2 id="chronicDiseasesHeader">
                Chronic Diseases</h2>
            <table id="chronicDiseasesTable">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var disease in Model.Problems) {
                        <tr>
                            <td>@disease.ProblemName
                            </td>
                            <td>
                                <input class="diseaseEditButton" id="@disease.Id" type="button" value="Edit" />
                            </td>
                        </tr>
                    
                    }
                </tbody>
            </table>
            <div id="diseaseDialog" title="Edit Disease for @Model.FirstName @Model.LastName">
                <p class="validateTips">
                    All form fields are required.</p>
                @using (Html.BeginForm("EditDisease", "Patient", "POST")) {
                    <fieldset>
                        <label for="name">
                            Name</label>
                        <input type="text" name="name" id="modal_diseaseName" class="text ui-widget-content ui-corner-all" />
                    </fieldset>
                }
            </div>
        </div>



        <div id="#patientView-Allergy">
          <div id="allergyHeader" class="group">
                <h2 id="Allergies">Allergies</h2>
                <input class="allergyAddButton" id="allergyAddButton" name="allergyAddButton" type="button" value="Add" />
		  </div>
		  <div>
				@foreach (var allergy in Model.Allergies) 
				{
					<ul>
						<li>@allergy.Name</li>
					</ul>
				}
	      </div>
</div>




<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
